table th i {
  transition: color 0.3s ease;
}

table th i.bi-arrow-up,
table th i.bi-arrow-down {
  color: #777c81;
}

table th.active-sort i {
  color: #28a745;
}

.bg-all-cottages thead th {
  background-color: rgb(237, 221, 211);
}

.star-wrapper {
  position: relative;
  display: inline-block;
}

.empty-star {
  color: lightgray;
}

.filled-star {
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
