<div class="container mt-4">
  <div class="row justify-content-start">
    <div class="col-12 col-sm-10 col-md-8 col-lg-3">
      <strong>Број викендица:</strong> {{ generalInfo.cottageNum }} <br>
      <strong>Број власника:</strong> {{ generalInfo.hostNum }} <br>
      <strong>Број туриста:</strong> {{ generalInfo.touristNum }} <br>
    </div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-5">
      <strong>Број резервација у последња 24h:</strong> {{ generalInfo.reservation24HNum }} <br>
      <strong>Број резервација у последња 7 дана:</strong> {{ generalInfo.reservation7DNum }} <br>
      <strong>Број резервација у последња 30 дана:</strong> {{ generalInfo.reservation30DNum }} <br>
    </div>
  </div>
</div>
<app-all-cottages></app-all-cottages>
