<div class="container text-w-heavier mt-4">
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-5 mb-3">
        <label for="currentPassword" class="form-label">Тренутна лозинка</label>
        <input type="password" id="currentPassword" class="form-control" formControlName="currentPassword">
        <div *ngIf="passwordChangeForm.get('currentPassword')?.invalid && passwordChangeForm.get('currentPassword')?.touched" class="text-danger">
          Тренутна лозинка је обавезна.
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-5 mb-3">
        <label for="newPassword" class="form-label">Нова лозинка</label>
        <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
        <div *ngIf="passwordChangeForm.get('newPassword')?.invalid && passwordChangeForm.get('newPassword')?.touched" class="text-danger">
          Лозинка је обавезна и мора бити јача.
        </div>
        <div *ngIf="passwordChangeForm.hasError('currentNewPasswordsSame') && passwordChangeForm.get('newPassword')?.touched" class="text-danger">
          Нова лозинка не сме бити иста као и стара.
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-5 mb-3">
        <label for="confirmNewPassword" class="form-label">Потврди нову лозинку</label>
        <input type="password" id="confirmNewPassword" class="form-control" formControlName="confirmNewPassword">
        <div *ngIf="passwordChangeForm.hasError('passwordsMismatch') && passwordChangeForm.get('confirmNewPassword')?.touched" class="text-danger">
          Лозинке се не поклапају.
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-5 mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="passwordChangeForm.invalid">Промени лозинку</button>
        <button type="button" class="mx-2 btn btn-secondary" (click)="back()">Назад</button>
      </div>
    </div>

    <div class="row justify-content-center">
      <div *ngIf="errorMessage" class="col-12 col-sm-10 col-md-5 alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
  </form>
</div>
