<div class="container mt-4">
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="currentPassword">Тренутна лозинка</label>
      <input type="password" id="currentPassword" class="form-control" formControlName="currentPassword">
      <div *ngIf="passwordChangeForm.get('currentPassword')?.invalid && passwordChangeForm.get('currentPassword')?.touched" class="text-danger">
        Тренутна лозинка је обавезна.
      </div>
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">Нова лозинка</label>
      <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
      <div *ngIf="passwordChangeForm.get('newPassword')?.invalid && passwordChangeForm.get('newPassword')?.touched" class="text-danger">
        Лозинка је обавезна и мора бити јача.
      </div>
      <div *ngIf="passwordChangeForm.hasError('currentNewPasswordsSame') && passwordChangeForm.get('newPassword')?.touched" class="text-danger">
        Нова лозинка не сме бити иста као и стара.
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmNewPassword" class="form-label">Потврди нову лозинку</label>
      <input type="password" id="confirmNewPassword" class="form-control" formControlName="confirmNewPassword">
      <div *ngIf="passwordChangeForm.hasError('passwordsMismatch') && passwordChangeForm.get('confirmNewPassword')?.touched" class="text-danger">
        Лозинке се не поклапају.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="passwordChangeForm.invalid">Промени лозинку</button>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </form>
</div>
