.image-preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #2b0650;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* pending register requests */

.table-pending {
  border:2px solid #ffc107;
}

.badge-pending {
  background-color: #ffc107;
}

.table-pending thead th {
  background-color: hsl(45, 100%, 85%);
}

/* accepted nonadmins */

.table-accepted {
  border: 2px solid lightgreen;
}

.badge-accepted {
  background-color: lightgreen;
}

.table-accepted thead th {
  background-color: hsl(120, 73%, 90%);
}

/* deactivated nonadmins */

.table-deactivated {
  border: 2px solid rgb(160, 157, 157);
}

.badge-deactivated {
  background-color: rgb(160, 157, 157);
}

.table-deactivated thead th {
  background-color: hsl(0, 0%, 75%);
}

/* rejected register requests */

.table-rejected {
  border: 2px solid #eb4c5c;
}

.badge-rejected {
  background-color: #eb4c5c;
}

.table-rejected thead th {
  background-color: hsl(354, 70%, 80%);
}

/* cottages */
.table-cottage {
  border:2px solid #cf892d;
}

.badge-cottage {
  background-color: #ffc107;
}

.table-cottage thead th {
  background-color: hsl(27, 78%, 75%);
}

.bg-blocked td {
  background-color: lab(1.01% 2.09 0.74);
  color: white
}
