html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-main {
  flex: 1 0 auto;
  padding-bottom: 60px;
}

footer {
  flex-shrink: 0;
}

.profile-preview {
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #2b0650;
  background-color: #cab2e1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
}

@media (max-width: 150px) {
  .photo-grid {
    grid-template-columns: 1fr;
  }
}

.photo-preview {
  width: 100%;
  height: 175px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ddd;
  transition: transform 0.3s ease-in-out;
}

.photo-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-preview:hover {
  transform: scale(1.05);
}

.photo-preview .img-fluid {
  border-radius: 8px;
}

@media (max-width: 768px) {
  .photo-preview {
    margin-bottom: 1rem;
  }
}

.bg-tourist {
  background-color: #abdfaa;
}

.bg-host {
  background-color: #e1aad6;
}

.bg-admin {
  background-color: #d19f73;
}

.bg-unregistered {
  background-color: rgb(179, 222, 235);
}

.bg-cardbody-tourist {
  background-color: #d4efe0;
}

.bg-cardbody-host {
  background-color: #e3cae3;
}

.bg-header-tourist {
  background-color: #439942;
}

.bg-header-host {
  background-color: #581e4d;
}

.bg-header-admin {
  background-color: #5d391a;
}

.bg-header-unregistered {
  background-color: rgb(16, 53, 65);
}

.bg-footer-tourist {
  background-color: #caeeca;
}

.bg-footer-host {
  background-color: #eccae5;
}

.bg-footer-admin {
  background-color: #e8d2be;
}

.bg-footer-unregistered {
  background-color: rgb(216, 239, 246);
}

.text-w-heavier, .text-w-heavier form button {
  font-weight: 600 !important;
}

.text-w-lighter, .text-w-lighter button, .text-w-lighter div button,
.text-w-lighter div h5 {
  font-weight: 520 !important;
}

.cursor-pointer {
  cursor: pointer;
}
