.input-group-text img {
  max-height: 30px;
  width: auto;
}

.radio-label {
  margin-bottom: 8px;
}

.upload-image-col {
  margin-top: 32px;
}

.image-preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #2b0650;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
